<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="sign">
				<h2>Sign up</h2>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<%= form_for(@user) do |f| %>
						<%= f.label :name %>
						<%= f.text_field :name %>

						<%= f.label :email %>
						<%= f.email_field :email %>

						<%= f.label :password %>
						<%= f.password_field :password %>

						<%= f.label :password_confirmation, "Confirmation" %>
						<%= f.password_field :password_confirmation %>

						<%= f.submit "Create my account", class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>

	</div>
</div>