<!-- Modal -->
<div id="myModal" class="modal fade col-md-12" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="sign">
				<h1>Sign up</h1>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						

						<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages'%>
						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control' %>

						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control' %>

						<%= f.label :password %>
						<%= f.password_field :password, class: 'form-control' %>

						<%= f.label :password_confirmation, "Confirmation" %>
						<%= f.password_field :password_confirmation, class: 'form-control' %>

						<%= f.submit "Create my account", class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
				
			</div>
		</div>

	</div>
</div>