
	<div class="col-md-8 col-md-offset-2">

		<%= form_for(@post) do |f| %>
		<%= render 'shared/error_messages'%>
		<%= render 'shared/post_errors'%>

		<%= f.text_field :content, placeholder: "Compose new post...", class: 'form-control'%>

		<%= f.submit "Post", class: "btn btn-primary" %>
		<% end %>
	</div>


