<li style="margin-top:20px;">
	<h3 class="location" >
		<%= post.user.location %>
	</h3>

	<h1>
		<%= link_to gravatar_for(post.user), post.user %>
		<%= link_to post.user.name, post.user, class: 'user_post_name' %>
	</h1>

	<p class="bio">
		<%= post.content %>

	</p>

	<h1><%= image_tag post.picture.url if post.picture? %></h1>

	<h2>
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</h2>
	<% if current_user?(post.user) %>
	    <h2 > <%= link_to "delete", post, method: :delete,
	    data: { confirm: "You sure?" }, class: 'delete_post' %></h2>
	<% end %>
  

</li>





