<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="post col-md-12"style="margin-top:20px">
 
	<h3 class="location" >
		<%= @post.user.location %>
	</h3>



	<h1>
		<%= link_to gravatar_for(@post.user), @post.user %>
		<%= link_to @post.user.name, @post.user, class: 'user_post_name' %>
	</h1>

	<p class="location">
		<%= @post.content %>

	</p>



	<h1><%= image_tag @post.picture.url, :class => 'img-responsive img-post' if @post.picture? %></h1>

	<h2>
		Posted <%= time_ago_in_words(@post.created_at) %> ago.
	</h2>

	

   <div class="col-md-12 vote-count bind-<%= @post.id %>">
		<h2 class="fa fa-caret-square-o-up col-md-6 col-xs-6 upvote">
			<%= link_to like_post_path(@post), remote: true, method: :get, class: 'vpos' do %>
             upvote
			 <span class="vcount-<%= @post.id %>"><%= @post.get_upvotes.size %></span>
			<% end %>
		</h2>

		<h2 class="fa fa-caret-square-o-down col-md-6 col-xs-6 downvote">
			<%= link_to dislike_post_path(@post), remote: true, method: :get, class: 'npos' do%>
            downvote
			<span class="ncount-<%= @post.id %>"><%= @post.get_downvotes.size %></span>

			<% end %>
		</h2>
	</div>



	<% if current_user?(@post.user) %>
	  <h2 > <%= link_to "delete", @post, method: :delete,
	  data: { confirm: "You sure?" }, class: 'delete_post' %></h2>
	<% end %>
    <%= render 'shared/comment_form' %>

    <%= render 'shared/comments' %>
	
	
</div>
</div>

    
</div>
	
