<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Votester", root_path, id: "logo" %><i class="fa fa-caret-square-o-up" style="color:green;"></i><i class="fa fa-caret-square-o-down" style="color:red;"></i>
    <nav>
      <ul class="nav navbar-nav navbar-right" style="margin-top:-30px">
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li><%= link_to "logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", '#',  "data-target" => "#myModal2", "data-toggle" => "modal", "type" => "button"  %></li>
          <li><%= link_to "Sign up", '#',  "data-target" => "#myModal", "data-toggle" => "modal", "type" => "button"  %></li>
        <% end %>



      </ul>
    </nav>
  </div>
</header>